<% cache page do %>
  <tr class="bg-white" data-controller="realtime-partial" data-realtime-partial-key="<%= page.to_gid_param %>">
    <th scope="row">
      <div class="media align-items-center">
        <div class="media-body">
          <%= link_to shop_page_path(page.shop, page), { :class=>"" }, nil do %>
            <span class="h6 mb-0"><%= page.url %></span>
          <% end %>
        </div>
      </div>
    </th>
    <td><%= link_to "Start Test", shop_page_path(page.shop, page) %></td>
  </tr>
<% end %>