- cache page do
  %tr.bg-white{"data-controller" => "realtime-partial", "data-realtime-partial-key" => "#{page.to_gid_param}"}
    %th{:scope => "row"}
      .media.align-items-center
        .media-body
          = link_to shop_page_path(page.shop, page), { :class=>"" }, nil do
            %span.h6.mb-0= page.url
    %td= link_to "Start Test", shop_page_path(page.shop, page)
