<div class="main-container bg-white">
  <% if @tests.count != 0 %>
    <section class="bg-white space-lg pb-0">
      <div class="container">
        <div class="row justify-content-center text-center section-intro">
          <div class="col-12 ">
            <h4 class="mb-3">Tests for Page:<div class="mt-0"><strong><%= @page.url %></div></strong></h4>
            <% if @page.all_tests_over %>
              <%= link_to 'Create New Test', new_shop_page_test_path(@shop, @page), class: "btn btn-success mt-0" %>
            <% end %>
      </div>
    </section>
    <section class="bg-white flush-with-above">
      <div class="container">
        <div class="row">
          <div class="col">
            <table class="table table-borderless table-hover align-items-center">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Clicks</th>
                  <th scope="col">Impressions</th>
                  <th scope="col">CTR</th>
                  <th scope="col">Position</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'admin/shops/pages/test', collection: @tests  %>
              </tbody>
            </table>
          </div>
          
        </div>
        
      </div>
    </section>
  <% end %>
</div>