= render partial: 'shared/header', :locals => { :active => 'Home' }
.main-container.bg-white
  %section.bg-white.space-lg.pb-0
    .container
      .row.justify-content-center.text-center.section-intro.mb-0
        .col-12.col-md-8.col-lg-7
          %i.icon-hour-glass.text-yellow.display-4
          %span.lead.text-left
            We are
            %strong downloading the last 90 days of data
            from Google Search Console.
          %span.lead.text-left
            This should take ~2-5 minutes to complete.
