!!! 5
%html(lang="en-US")
  %body
    %p Hey Team,
    %p Shop - #{@shopify_domain} - has just signed in. Email them to see if they need any help! Be proactive while reaching out to customers! 
    %p
      Arjun